
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root {
    --fond : #f2f7f5;
    --orange : #fa5246;
    --text : #00473e; 
    --rose : #ffa8ba;
}


* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
    font-size: 60px;
	font-weight: bold;
	margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

p {
	font-size: 5rem;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 25px;
}

a {
	text-decoration: none;
	margin: 15px 0;
}

.Main {
	border-radius: 20px;
	border: 1px solid var(--text);
	background-color: var(--text);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

.Main:hover {
	background-color: var(--orange);
    border: 1px solid var(--orange);
    transition: 0.05s ease-in-out;
}

button:focus {
	outline: none;
}

.ghost {
	color: var(--text);
	font-size: 12px;
	letter-spacing: 1px;
    text-transform: unset;
	transition: transform 80ms ease-in;
}

.ghost2 {
	border: none;
	background-color: transparent;
	color: var(--text);
	font-size: 12px;
	font-weight:500;
	padding: 12px 45px;
	letter-spacing: 1px;
    text-transform: unset;
	transition: transform 80ms ease-in;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
    z-index: 100;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #FFFFFF;
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

#sign-up-container {
    display: none;
}

.social i {
    color: var(--text);
}

.social:hover > i {
    color: var(--orange);
    transition: 0.05s ease-in-out;
}



 /*Barre de navigation*/
 nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    transition: all 0.4s ease;
    background-color: var(--fond);
  }

  nav.sticky {
    padding: 15px 20px;
    background: white;
  }

  nav .nav-content {
    height: 100%;
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav .logo a {
    font-weight: 900;
    font-size: 35px;
    color: var(--text);
    font-family: 'Josefin Sans', sans-serif;
  }

  nav.sticky .logo a {
    color: var(--rose);
  }
  
  .nav-content .nav-links {
    display: flex;
  }
  
  .nav-content .nav-links li {
    list-style: none;
    margin: 0 8px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: var(--text);
    font-size: 24px;
    font-weight: 500;
    padding: 10px 4px;
    transition: all 0.3 ease;
  }
  
  .nav-links li a:hover {
    color: var(--orange);
  }
  
  .nav.sticky .nav-links li a {
    color: #fff;
    transition: all 2s ease-in-out .5s;
  }
  
  .nav.sticky .nav-links li a:hover {
    color: #fff;
  }



/*Responsive Tablette + Smartphone */

@media (max-width: 1000px) {
    h1 {
        font-size: 10rem;
        font-weight: bold;
        margin: 0;
        font-family: 'Josefin Sans', sans-serif;
    }
    .social-container {
        margin: 20px 0;
    }
    
    .social-container a {
        border: 1px solid #DDDDDD;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        height: 120px;
        width: 120px;
    }
    .social i {
        font-size: 4rem;
    }

    span {
        font-size: 4rem;
    }
}
